body{
    font-family: 'Piazzolla', serif;
    color : black;
    text-align: center;
    padding : 0px;
    margin : 0px;
    position: relative;
    padding-bottom : 50px;
    min-height: 100vh;  
}


#help{
    position: absolute;
    text-align : right;
    font-size: 23px;
    right : 10px;
    top : 10px;
    color : white;
    transition: all 0.7s ease;
}
#help_img{
    display: none;
    position: absolute;
    right : 30px;
    top : 30px;
    height: 207px;
    width : 417px;
    border-radius: 10px;
    transition: all 1s ease;
    z-index: 1;
}
#help:hover{
    cursor: pointer;
    opacity: 0.5;
    
}
#help:hover + #help_img{
    display: inline;  

}

h1{
    padding : 20px;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : white;
    width : 100%;
}

select{
    width : 100px;
    height : 40px;
    border-radius: 3px;
    border : 2px solid black;
    margin : auto;
    margin : 20px
}


button{
    width : 90px;
    height : 40px;
    border-radius: 20px;
}

.info{
    width : 70%; 
    margin : 30px auto;
    color :white;
    position : relative;
    padding : 50px 0;
}
#location{
    padding-top : 20px;
}
.air_quality{
    text-align: center;
    margin-top : 60px;
    margin-right: 0;
    margin-left: 0;

}

#quality{
    font-size: 45px;
}

.top{
    display: inline-block;
}
#main{
    display: inline-flex;
}

#aqi{
    font-size: 50px; 
    color : black; 
}
.aqi_div{
    text-align: center;
    /* border : 2px solid black; */
    /* max-width: 100px; */
    padding: 5px;
    margin : 0 40px auto;

    
}
#more{
    background: rgb(32, 49, 40);
    bottom : -60px;
    /* display : inline-flex; */   
}

#more_button{
    position: inherit;
    background-color : rgb(114, 96, 96);
    box-shadow: none;
    border : none;
    width : 100%;
    bottom : -60px;
    left : 0;
    overflow: hidden;
}

#map {
    width : 60%;
    height : 400px;
    margin : auto;
    border : 1px solid black;
}

/* footer */
#linkedin{
    width : 25px;
    height : 25px;  
    border : 1px solid black; 
}

footer{
    position : absolute;
    bottom: 0px;
    width : 100%;
    padding: 4px 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: end;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
